* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  width: 100%;
}

header > nav {
  background-color: #424d53;
  color: #fff;
  width: 100%;
  padding: 12px 0;
}

header > nav > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header > nav > .container > .logo {
  background-color: #f77b3e;
  height: 60px;
  padding: 0 30px;
  border-radius: 5px;
}

header > nav > .container > .logo > .top {
  display: flex;
  align-items: center;
  gap: 13px;
}

header > nav > .container > .logo > .top > svg {
  width: 25px;
}

header > nav > .container > .logo > .top > h2 {
  font-size: 26px;
  font-weight: 600;
}

header > nav > .container > .logo > p {
  font-size: 14px;
  line-height: 0;
}

header > nav > .container > .links {
  display: flex;
  align-items: center;
  gap: 20px;
}

header > nav > .container > .links > a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
}

header > nav > .container > .links > a:hover {
  color: #f77b3e;
  transition: 0.4s;
}

header > nav > .container > .social {
  display: flex;
  align-items: center;
  gap: 20px;
}

header > nav > .container > .social > .icon {
  width: 27px;
  height: 27px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

header > nav > .container > .social > .icon:hover {
  background-color: #f77b3e;
  transition: 0.4s;
  box-shadow: 0 0 8px #f77b3e;
}

header > nav > .container > .social > .icon > a {
  text-decoration: none;
  color: #424d53;
  font-size: 17px;
}

header > nav > .container > .social > .icon:hover #icon {
  color: #fff;
  transition: 0.4s;
}

header > nav > .container > #menu {
  font-size: 32px;
  cursor: pointer;
  width: 45px;
  height: 43px;
  display: none;
}

header > nav > .container > #menu:hover {
  color: #f77b3e;
  box-shadow: 0 0 5px #f77b3e;
  transition: 0.4s;
}

/* Home Section */

.home {
  width: 100%;
  height: 88vh;
  background: linear-gradient(#424d53a5, #424d53a5), url(images/home2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -2px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.home > .box {
  background-color: #f77b3e;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  color: #fff;
  gap: 60px;
  text-align: center;
}

.home > .box > h1 {
  font-size: 27px;
  line-height: 35px;
}

.home > .box > i {
  font-size: 40px;
}

/* Clients Sussess Section */

.clients {
  text-align: center;
  padding: 80px 0;
  text-align: center;
}

.clients > .container h1 {
  margin-bottom: 70px;
  line-height: 39px;
}

.clients > .container > .row > .col-12 > .logo {
  width: 63px;
  height: 63px;
  background-color: #f77b3e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
}

.clients > .container > .row > .col-12 > .light {
  background-color: #424d53;
}

.clients > .container > .row > .col-12 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 23px;
}

.clients > .container > .row > .col-12 > p {
  font-size: 14px;
}

.clients > .container > .row > .col-12 > h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}

.clients > .container > .row > .col-12 > button {
  padding: 4px 25px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  border: 2px solid #f77b3e;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.clients > .container > .row > .col-12 > button:hover {
  background-color: #424d53;
  color: #fff;
  transition: 0.4s;
  box-shadow: 0 0 10px #f77b3e;
}

.invester {
  text-align: center;
  padding: 80px 0;
  background-color: rgb(242, 249, 249);
}

.invester > .container > h1 {
  line-height: 39px;
  margin: 0 auto
}

.invester > .container > p {
  width: 80%;
  margin: 40px auto;
}

.invester > .container > .row > .col-12 > .box > .img > img {
  width: 100%;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.invester > .container > .row > .col-12 > .box > .img > img:hover {
  transform: scale(1.07);
  transition: 0.4s;
}

.invester > .container > .row > .col-12 > .box > .img {
  overflow: hidden;
}

.invester > .container > .row > .col-12 {
  padding: 0px 20px ;
}

.invester > .container > .row > .col-12 > .box {
  border: 8px solid #424d53;
  border-radius: 8px;
}

.invester > .container > .row > .col-12 > .box > .content {
  padding: 20px 30px;
}

.invester > .container > .row > .col-12 > .box > .content > h4 {
  color: #f77b3e;
}

.invester > .container > .row > .col-12 > .box > .content > i {
  color: #424d53;
  font-size: 35px;
}

.invester > .container > .row > .col-12 > .box > .content > i:hover {
  color: #f77b3e;
  transition: 0.3s;
}

/* Compersion Section */

.compersion .container-fluid > .row > .left {
  background-color: #f77b3e;
  color: #fff;
  padding: 40px 0;
  padding-left: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.compersion .container-fluid > .row > .right {
  background-color: #424d53;
  color: #fff;
  padding: 40px 0;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.compersion .container-fluid > .row > .col-12 > .list {
  display: flex;
  gap: 18px;
}

.compersion .container-fluid > .row > .col-12 > h2 {
  line-height: 32px;
  margin-bottom: 20px;
}

.compersion .container-fluid > .row > .col-12 > .list > p {
  line-height: 20px;
}

.compersion .container-fluid > .row > .right .para {
  width: 80%;
}

.compersion .container-fluid > .row > .col-12 > button {
  width: 137px;
  height: 40px;
  background: none;
  color: #fff;
  border: none;
  border: 2px solid #fff;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 15px;
  margin-top: 20px;
}

.compersion .container-fluid > .row > .col-12 > button:hover {
  box-shadow: 0 0 10px #fff;
  transition: 0.4s;
}

@media (max-width: 991px) {
  header > nav > .container > .links {
    display: none;
  }

  header > nav > .container > .social {
    display: none;
  }

  header > nav > .container > #menu {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .clients > .container > .row > .col-12 {
    margin-top: 40px;
  }

  .invester > .container > .row > .col-12 {
    margin-top: 40px;
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  header > nav > .container > .logo > .top > svg {
    width: 20px;
  }
  header > nav > .container > .logo > .top > h2 {
    font-size: 20px;
  }
  header > nav > .container > .logo > p {
    font-size: 11px;
  }

  header > nav > .container > .logo {
    padding: 0 17px;
    border-radius: 4px;
  }

  .home {
    height: 70vh;
  }

  .home > .box {
    padding: 15px 20px;
    gap: 40px;
  }

  .home > .box > h1 {
    font-size: 19px;
    line-height: 30px;
  }

  .home > .box > i {
    font-size: 30px;
  }


  .clients > h1 {
    margin: 0 auto;
  }
  .clients > .row > .col-12 {
    padding: 10px 30px;
  }

  .invester > .container > p {
    width: 90%;
    margin: 40px auto;
  }

  .compersion .container-fluid > .row > .left {
    padding: 40px 30px;
  }
  
  .compersion .container-fluid > .row > .right {
    padding: 40px 30px;
  }

  .compersion .container-fluid > .row > .right > .para {
    width: 93%;
    font-size: 14px;
  }

  .compersion .container-fluid > .row > .col-12 > .list > p {
    font-size: 14px;
  }

}
